@charset "UTF-8";
body {
  color: #495057; }

@font-face {
  font-family: 'FontAwesomeBrands';
  font-style: normal;
  font-weight: normal;
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.eot");
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.woff2") format("woff2"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.woff") format("woff"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.ttf") format("truetype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.svg#fontawesome") format("svg"); }
@font-face {
  font-family: 'FontAwesomeRegular';
  font-style: normal;
  font-weight: 400;
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-regular-400.eot");
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-regular-400.woff2") format("woff2"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-regular-400.woff") format("woff"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-regular-400.ttf") format("truetype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-regular-400.svg#fontawesome") format("svg"); }
@font-face {
  font-family: 'FontAwesomeSolid';
  font-style: normal;
  font-weight: 900;
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.eot");
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.woff2") format("woff2"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.woff") format("woff"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.ttf") format("truetype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.svg#fontawesome") format("svg"); }
.aboutus, .account-program, .account, .contactus, .programs, .login, .program {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
  padding: 3.625rem 0 3.625rem 0; }

.aboutus h1, .account-program h1, .account h1, .contactus h1, .programs h1, .login h1, .program h1, .my-slider h1, .aboutus h2, .account-program h2, .account h2, .contactus h2, .programs h2, .login h2, .program h2, .my-slider h2, .aboutus h3, .account-program h3, .account h3, .contactus h3, .programs h3, .login h3, .program h3, .my-slider h3, .aboutus h4, .account-program h4, .account h4, .contactus h4, .programs h4, .login h4, .program h4, .my-slider h4, .aboutus h5, .account-program h5, .account h5, .contactus h5, .programs h5, .login h5, .program h5, .my-slider h5 {
  color: #cd3951; }

.aboutus-title {
  text-align: center;
  margin-bottom: 1.25rem; }

.account-program-section {
  padding-top: 1.875rem;
  padding-bottom: 3.75rem;
  border-bottom: 1px solid #e9ecef; }
  .account-program-section-participants h5 {
    color: #adb5bd; }
  .account-program-section-participants-single-icon {
    display: block;
    font-size: 4.375rem; }
    .account-program-section-participants-single-icon:after {
      font-family: FontAwesomeSolid;
      content: "\f2bd"; }
  .account-program-section-participants-single-name {
    margin-top: -0.625rem;
    display: block; }
  .account-program-section-posts {
    padding: 1.875rem;
    margin-top: 1.875rem;
    border: 1px solid #adb5bd; }
    .account-program-section-posts span {
      display: block;
      margin-bottom: 0.3125rem; }
    .account-program-section-posts-img {
      width: 10.625rem;
      height: 10.625rem; }
  .account-program-section-photos {
    border: 0;
    padding-bottom: 0; }
    .account-program-section-photos-img {
      width: 16.875rem;
      height: 16.875rem; }
.account-program-title-location h1, .account-program-title-location h4 {
  color: #adb5bd; }

.add-new-post-modal-footer {
  justify-content: center; }

.account-title h1 {
  color: #adb5bd; }
.account-section {
  padding-top: 1.875rem;
  padding-bottom: 3.75rem; }
  .account-section-info {
    border-bottom: 1px solid #e9ecef; }
    .account-section-info h2, .account-section-info h4 {
      margin-bottom: 1.625rem; }
    .account-section-info-img {
      margin-top: -2.8125rem;
      display: block;
      font-size: 11.875rem; }
      .account-section-info-img:after {
        font-family: FontAwesomeSolid;
        content: "\f2bd"; }
  .account-section-programs {
    padding-bottom: 0; }
    .account-section-programs h2 {
      margin-bottom: 1.625rem; }
    .account-section-programs-block {
      border: 1px solid #adb5bd;
      margin-bottom: 1.875rem; }
      .account-section-programs-block-details {
        padding-right: 0; }
      .account-section-programs-block-details-date {
        padding-right: 0; }
      .account-section-programs-block a {
        color: #cd3951; }
.account-edit {
  text-align: center; }

.my-main-button {
  background-color: #cd3951;
  border-color: #b73348; }
  .my-main-button:hover {
    background-color: #b73348;
    border-color: #a22d40; }
  .my-main-button:not(:disabled):not(.disabled):active, .my-main-button:not(:disabled):not(.disabled).active, .show > .my-main-button.dropdown-toggle {
    background-color: #b73348;
    border-color: #a22d40; }
  .my-main-button:focus, .my-main-button:not(:disabled):not(.disabled):active:focus, .my-main-button:not(:disabled):not(.disabled).active:focus, .show > .my-main-button.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(234, 67, 94, 0.5);
    background-color: #cd3951;
    border-color: #ea435e; }

.my-light-button {
  background-color: white;
  border-color: #b73348; }
  .my-light-button:hover {
    border-color: #a22d40; }
  .my-light-button:not(:disabled):not(.disabled):active, .my-light-button:not(:disabled):not(.disabled).active, .show > .my-light-button.dropdown-toggle {
    border-color: #a22d40; }
  .my-light-button:focus, .my-light-button:not(:disabled):not(.disabled):active:focus, .my-light-button:not(:disabled):not(.disabled).active:focus, .show > .my-light-button.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(234, 67, 94, 0.5);
    border-color: #ea435e; }

.contactus-button {
  margin-top: 3.125rem; }

.select-program-button {
  margin-top: 2.75rem; }

.go_back {
  color: #cd3951; }
  .go_back-margin {
    margin-bottom: 4.5625rem; }
  .go_back:before {
    font-size: 1.5rem;
    position: relative;
    top: 0.1875rem;
    padding-right: 0.9375rem;
    font-family: FontAwesomeSolid;
    content: "\f060"; }
  .go_back-link {
    margin-bottom: 4.5625rem; }
    .go_back-link:hover {
      color: #cd3951;
      text-decoration: none; }

.login-button {
  min-width: 100px;
  margin: 1.875rem 0 1.875rem 0; }
  .login-button-facebook {
    margin-bottom: 1.25rem;
    background-color: #3b5999;
    border-color: #35508a; }
    .login-button-facebook:hover {
      background-color: #35508a;
      border-color: #324c82; }
    .login-button-facebook:not(:disabled):not(.disabled):active, .login-button-facebook:not(:disabled):not(.disabled).active, .show > .login-button-facebook.dropdown-toggle {
      background-color: #35508a;
      border-color: #324c82; }
    .login-button-facebook:focus, .login-button-facebook:not(:disabled):not(.disabled):active:focus, .login-button-facebook:not(:disabled):not(.disabled).active:focus, .show > .login-button-facebook.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(59, 89, 153, 0.5);
      background-color: #3b5999;
      border-color: #4364ad; }
  .login-button-twitter {
    margin-bottom: 0.75rem;
    background-color: #1da1f3;
    border-color: #1989cf; }
    .login-button-twitter:hover {
      background-color: #1989cf;
      border-color: #177dbd; }
    .login-button-twitter:not(:disabled):not(.disabled):active, .login-button-twitter:not(:disabled):not(.disabled).active, .show > .login-button-twitter.dropdown-toggle {
      background-color: #1989cf;
      border-color: #177dbd; }
    .login-button-twitter:focus, .login-button-twitter:not(:disabled):not(.disabled):active:focus, .login-button-twitter:not(:disabled):not(.disabled).active:focus, .show > .login-button-twitter.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(29, 161, 243, 0.5);
      background-color: #1da1f3;
      border-color: #1ea7fc; }
  .login-button-google {
    margin-bottom: 0.75rem;
    background-color: #dc4437;
    border-color: #c73e32; }
    .login-button-google:hover {
      background-color: #c73e32;
      border-color: #ba392e; }
    .login-button-google:not(:disabled):not(.disabled):active, .login-button-google:not(:disabled):not(.disabled).active, .show > .login-button-google.dropdown-toggle {
      background-color: #c73e32;
      border-color: #ba392e; }
    .login-button-google:focus, .login-button-google:not(:disabled):not(.disabled):active:focus, .login-button-google:not(:disabled):not(.disabled).active:focus, .show > .login-button-google.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 68, 55, 0.5);
      background-color: #dc4437;
      border-color: #ec493b; }

.contactus {
  margin-bottom: 0;
  background-color: #e9ecef;
  text-align: center; }
  .contactus-title {
    text-align: center;
    margin-bottom: 1.25rem; }
  .contactus-info {
    margin-left: 1.4375rem;
    margin-right: 1.4375rem; }
    .contactus-info-icon {
      margin-right: 0.1875rem;
      color: #cd3951;
      font-size: 1.625rem; }
      .contactus-info-icon-phone:after {
        font-family: FontAwesomeSolid;
        content: ""; }
      .contactus-info-icon-address:after {
        font-family: FontAwesomeSolid;
        content: ""; }
      .contactus-info-icon-description {
        color: #cd3951; }
  .contactus-map {
    width: 100%;
    height: 400px;
    padding-bottom: 0.9375rem;
    border: 0; }
  .contactus-form {
    margin-top: 2.25rem; }

.my-footer {
  padding: 3.75rem 0 3.75rem 0;
  background-color: #cd3951;
  color: white; }
  .my-footer-social {
    display: inherit; }
    .my-footer-social a {
      color: white; }
    .my-footer-social-icon-box {
      margin-left: 1.25rem;
      padding-top: 0.875rem; }
    .my-footer-social-facebook {
      font-size: 2.0625rem; }
      .my-footer-social-facebook:after {
        font-family: FontAwesomeBrands;
        content: "\f082"; }
    .my-footer-social-twitter {
      font-size: 2.0625rem; }
      .my-footer-social-twitter:after {
        font-family: FontAwesomeBrands;
        content: "\f081"; }

.my-nav {
  background-color: #cd3951;
  height: 100px; }
  .my-nav-login {
    font-weight: 500; }
    .my-nav-login > a {
      color: white; }
    .my-nav-login > a:hover {
      text-decoration: none; }
    .my-nav-login-icon {
      font-size: 1.875rem;
      margin-left: 0.5rem; }
      .my-nav-login-icon:after {
        font-family: FontAwesomeSolid;
        content: "\f2bd"; }
      .my-nav-login-icon-description {
        position: relative;
        top: -0.3125rem; }
  .my-nav-dropdown-menu {
    background-color: #e9ecef; }

.navbar-textual h1 {
  font-size: 2.375rem;
  font-weight: 300;
  margin-top: 1.125rem;
  outline-offset: -0.625rem;
  border-top: 1px solid white;
  color: white; }

.hiden-label {
  display: none; }

.programs {
  background-color: #e9ecef; }
  .programs .card {
    border: none; }
  .programs-title {
    text-align: center;
    margin-bottom: 1.25rem; }
  .programs-card {
    margin-top: 1.375rem; }

.login-separator {
  border-right: 0;
  border-bottom: 1px solid #adb5bd; }
  @media (min-width: 768px) {
    .login-separator {
      border-right: 1px solid #adb5bd;
      border-bottom: 0; } }
.login-forgot-pass a {
  color: #495057; }
.login-forgot-pass:active, .login-forgot-pass:hover {
  color: #495057; }
.login-register a {
  color: #cd3951; }
.login-register:active, .login-register:hover {
  text-decoration: none; }
.login-margin {
  display: block;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem; }

.program {
  margin-bottom: 0; }
  .program-elements-margin {
    margin: 1.875rem 0 1.875rem 0; }
  .program-max-participants {
    color: #cd3951;
    margin-bottom: 3.75rem; }
    .program-max-participants:before {
      font-size: 1.75rem;
      position: relative;
      top: 0.25rem;
      padding-right: 0.9375rem;
      font-family: FontAwesomeSolid;
      content: "\f500"; }

.my-slider {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  max-height: 460px;
  display: block; }
  .my-slider img {
    max-height: 250px; }

.carousel-indicators li {
  width: 0.8125rem;
  height: 0.8125rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  background-color: #e9ecef;
  border-radius: 4em; }

.carousel-indicators .active {
  background-color: #cd3951; }

.carousel-control-prev-icon {
  background-image: none;
  visibility: hidden;
  font-size: 3.9375rem;
  width: 3.4375rem;
  height: 3.4375rem;
  background-color: #cd3951;
  color: white;
  border-radius: 4em;
  margin-left: -5rem; }
  .carousel-control-prev-icon:after {
    position: relative;
    top: -1.1875rem;
    font-family: FontAwesomeSolid;
    margin-left: -0.3125rem;
    content: '\f0d9'; }
  @media (min-width: 768px) {
    .carousel-control-prev-icon {
      visibility: visible; } }

.carousel-control-next-icon {
  background-image: none;
  visibility: hidden;
  font-size: 3.9375rem;
  width: 3.4375rem;
  height: 3.4375rem;
  background-color: #cd3951;
  color: white;
  border-radius: 4em;
  margin-right: -5rem; }
  .carousel-control-next-icon:after {
    position: relative;
    margin-right: -0.3125rem;
    top: -1.1875rem;
    font-family: FontAwesomeSolid;
    content: '\f0da'; }
  @media (min-width: 768px) {
    .carousel-control-next-icon {
      visibility: visible; } }

/*# sourceMappingURL=styles.css.map */
