$pink: #cd3951;
$light-pink: #ea435e;
$medium-dark-pink: #b73348;
$darker-pink:#a22d40;
$medium-dark-gray: #495057;
$medium-gray: #adb5bd;
$light-gray: #e9ecef;

//for login buttons
$login-facebook: #3b5999;
$light-login-facebook: #4364ad;
$medium-dark-login-facebook: #35508a;
$darker-login-facebook:#324c82;
$login-twitter: #1da1f3;
$light-login-twitter: #1ea7fc;
$medium-dark-login-twitter: #1989cf;
$darker-login-twitter:#177dbd;
$login-google: #dc4437;
$light-login-google: #ec493b;
$medium-dark-login-google: #c73e32;
$darker-login-google:#ba392e;

// Typography
$default-font-weight: 100;
$default-font-size: 16;