.program{
    @extend %layout-margin-padding;
    @extend %heading-main-style;
    margin-bottom: 0;
    &-elements-margin{
        margin: px2rem(30) 0 px2rem(30) 0;
    }
    &-max-participants{
        color: $pink;
        margin-bottom: px2rem(60);
        &:before{
            font-size: px2rem(28);
            position: relative;
            top: px2rem(4);
            padding-right: px2rem(15);
            font-family: FontAwesomeSolid;
            content: "\f500";
        }
    }
}